.mainHeader {
  /* display: flex; */
  /* height: 70px; */
  /* position: absolute; */
  /* left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%; */

  /* align-items: center; */

  border: 1px solid #e2e3e5;
}
