@media screen and (max-width: 767px) {
  .menuWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;

    list-style: none;
    margin: 0;
    padding: 0;

    position: absolute;
    top: 72px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--bg-color-primary);
    z-index: 4;
  }

  .menuItem {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-basis: 70px;
    width: 320px;

    border-bottom: 1px solid #e2e3e5;
  }
}

.menuLink {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: black;
}

.menuLink::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ff6b09;
  opacity: 0;
  z-index: 5;
  transition: opacity 200ms linear;
}

.menuItem:hover .menuLink::after {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .menuWrapper {
    margin-right: 20px;
  }
}
