.item {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .item {
    margin-bottom: 24px;
  }

  .item:last-child {
    margin-bottom: 40px;
  }
}

.input {
  height: 56px;
  padding: 21px 25px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  border: 1px solid #ced2d1;
  outline: none;
}

@media screen and (min-width: 768px) {
  .input {
    width: 425px;
  }
}

.input:focus {
  transform: scale(1.02);
}

.input::placeholder {
  color: #bbbbbb;
}

.input:focus::placeholder {
  color: transparent;
}
