.userInfoMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  z-index: 100;
}

.userAvatar {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background: #ffffff; */
  box-shadow: 0px 1px 1px rgba(18, 29, 46, 0.1);
}

.userName {
  display: block;
}

@media screen and (max-width: 767px) {
  .userInfoMenu {
    top: 19px;
    left: calc(50% + 52px);
  }

  .userName {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .userInfoMenu {
    width: 120px;
    top: 19px;
    left: calc(50% + 210px);
  }

  .btnLogOut {
    border-left: 1px solid #e2e3e5;
  }
}

@media screen and (min-width: 1280px) {
  .userInfoMenu {
    width: 130px;
    left: calc(50% + 445px);
  }
}
