.section {
  display: flex;
  width: 320px;
  min-height: 445px;
  margin: auto;
  padding-left: 20px;

  background-color: var(--bg-color-primary);
  background-repeat: no-repeat;
  background-image: url('../../images/bg/bg-usefulinfo-320.jpg');
  background-size: 320px auto;
  background-position: top 0% right 50%;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi),
  (max-width: 767px) and (min-resolution: 2dppx) {
  .section {
    background-image: url('../../images/bg/bg-usefulinfo-320@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .section {
    width: 768px;
    min-height: 900px;

    background-image: url('../../images/bg/bg-usefulinfo-768.jpg');
    background-size: 768px auto;
    background-position: top 60% right 0%;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .section {
    background-image: url('../../images/bg/bg-usefulinfo-768@2x.jpg');
  }
}

@media screen and (min-width: 1280px) {
  .section {
    width: 1280px;
    min-height: 724px;

    background-image: url('../../images/bg/bg-usefulinfo-1280.jpg');
    background-size: 1280px auto;
    background-position: top 0% right 0%;
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  .section {
    background-image: url('../../images/bg/bg-usefulinfo-1280@2x.jpg');
  }
}

.articles {
  display: block;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .articles {
    padding-top: 120px;
    padding-left: 125px;
  }
}

@media screen and (min-width: 1280px) {
  .articles {
    padding-top: 100px;
    padding-left: 190px;
  }
}

.articl {
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .articl {
    padding-bottom: 40px;
  }
}

.title {
  margin-bottom: 10px;
  padding: 0;
  max-width: 130px;

  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 20px;
    max-width: 396px;

    font-size: 22px;
  }
}

.line {
  display: block;
  margin: 0px 0px 10px;
  width: 150px;

  border-bottom: 1px solid #00122f;
  opacity: 0.15;
}

@media screen and (min-width: 768px) {
  .line {
    margin: 0px 0px 25px;
    width: 320px;
  }
}

.numList {
  padding: 0px 0px 0px 20px;
  width: 205px;

  font-size: 10px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .numList {
    font-size: 14px;
  }
}

.numList li {
  text-align: left;
}

.linkToSite {
  color: inherit;
  text-decoration: underline;
}
