.pageNavigation {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 70px;
  border: 1px solid #e2e3e5;
}

.logo {
  display: block;
  margin-left: 20px;
  cursor: pointer;
}

.navigationMenuWrapper {
  display: flex;
}

.btnBurgerMenu,
.btnClose,
.btnLogOut {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 69px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--bg-color-primary);
}

.btnBurgerMenu,
.btnClose {
  border-left: 1px solid #e2e3e5;
}

.btnClose {
  position: absolute;
  z-index: 10;
  left: calc(50% + 102px);
  background-color: var(--bg-color-primary);
}

.burgerMenuIcon {
  display: block;
  width: 20px;
  height: 20px;
}

.closeIcon {
  display: block;
  width: 26px;
  height: 26px;
}

.sign_out {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 767px) {
  .navigationMenu {
    opacity: 0;
    visibility: 0;
    transition: opacity 200ms linear;
    pointer-events: none;
  }

  .navigationMenu.active {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

@media screen and (min-width: 768px) {
  .pageNavigation {
    width: 768px;
  }

  .btnBurgerMenu,
  .btnClose {
    display: none;
  }

  .modalWrapper {
    width: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .pageNavigation {
    width: 1280px;
  }

  .modalWrapper {
    width: 640px;
  }
}
