.modalWrapper {
  display: flex;
  align-items: center;
}

.longMenu,
.shortMenu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.btnClose {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 68px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #f2f5f7;
}

.closeIcon {
  display: block;
  width: 26px;
  height: 26px;
}

@media screen and (max-width: 767px) {
  .navigationMenu {
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms linear;
    pointer-events: none;
  }

  .navigationMenuActive {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  .modalWrapper {
    flex-direction: column;
    width: 320px;
    position: absolute;
    top: 71px;
    left: calc(50% - 160px);
    bottom: 0;
    background-color: #f2f5f7;
    z-index: 4;
  }

  .longMenu,
  .shortMenu {
    flex-direction: column;
    text-align: center;
  }

  .btnClose {
    position: absolute;
    z-index: 10;
    top: -69px;
    left: calc(50% + 103px);
  }
}

@media screen and (min-width: 768px) {
  .navigationMenu {
    width: 500px;
  }

  .modalWrapper {
    justify-content: space-between;
  }

  .longMenu {
    justify-content: space-between;
    width: 280px;
  }

  .shortMenu {
    justify-content: flex-end;
    width: 480px;
  }

  .btnClose {
    display: none;
  }

  .btnLogOut {
    border-left: 1px solid #e2e3e5;
  }
}

@media screen and (min-width: 1280px) {
  .navigationMenu {
    width: 640px;
  }

  .longMenu {
    width: 380px;
  }

  .shortMenu {
    justify-content: flex-end;
    width: 620px;
  }
}
