.list {
  display: flex;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: white;
}

.listItem {
  width: 50%;
}

.link {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: inherit;
  outline: none;
}

.activeLink {
  border: none;
  color: #ff6b09;
}
