.list {
  display: flex;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: black;
}

.listItem {
  width: 50%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: inherit;
}

.activeLink {
  background-color: white;
  border: none;
  color: #ff6b09;
}
