.menuWrapper {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.userInfoMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuWrapper {
  margin: 0;
  padding: 0;
}

.menuLink {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: black;
}

.menuLink::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ff6b09;
  opacity: 0;
  z-index: 5;
  transition: opacity 200ms linear;
}

.menuItem:hover .menuLink::after {
  opacity: 1;
}

.userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 50%;
  color: #555555;
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(18, 29, 46, 0.1);
}

.userName {
  display: block;
}

.btnLogOut {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 69px;
  cursor: pointer;
  border: none;
  background-color: var(--bg-color-primary);
}

.sign_out {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 767px) {
  .menuWrapper {
    flex-direction: column;
    text-align: center;

    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--bg-color-primary);
    z-index: 4;
  }

  .menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    flex-basis: 70px;
    width: 320px;

    border-bottom: 1px solid #e2e3e5;
  }

  .userAvatar {
    position: absolute;
    z-index: 100;
    opacity: 1;
    top: -50px;
    left: calc(50% + 52px);
  }

  .userName {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menuWrapper {
    justify-content: space-between;
    width: 500px;
  }

  .userInfoMenu {
    width: 160px;
  }

  .btnLogOut {
    border-left: 1px solid #e2e3e5;
  }
}

@media screen and (min-width: 1280px) {
  .menuWrapper {
    width: 640px;
  }

  .userInfoMenu {
    width: 170px;
  }
}
