.userInfoContainer,
.menuWrapper,
.userInfoMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .userInfoContainer {
  width: 640px;
} */

.menuWrapper {
  margin: 0;
  padding: 0;
}

.userInfoMenu {
  width: 170px;
}

/* .navigationList {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
} */

.menuLink {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: black;
}

.menuLink::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ff6b09;
  opacity: 0;
  z-index: 5;
  transition: opacity 200ms linear;
}

.menuItem:hover .menuLink::after {
  opacity: 1;
}

.userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(18, 29, 46, 0.1);
}

.userName {
  display: block;
}

.btnLogOut {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 69px;
  cursor: pointer;
  border: none;
  border-left: 1px solid #e2e3e5;
  background-color: var(--bg-color-primary);
}

.sign_out {
  width: 16px;
  height: 16px;
}

/* @media screen and (max-width: 767px) {
} */

@media screen and (min-width: 768px) {
  .menuWrapper {
    width: 500px;
  }

  .userInfoMenu {
    width: 160px;
  }
}

@media screen and (min-width: 1280px) {
  .menuWrapper {
    width: 640px;
  }

  .userInfoMenu {
    width: 170px;
  }
}
