.navigationList {
  display: flex;
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

.sign_out {
  /* display: block; */
  width: 16px;
  height: 16px;
  /* fill: $text-header-color; */
  /* @include transition; */
}
